.findPost{
    max-width: 1350px; 
    margin: 0 auto;
    padding: 0px 15px 15px 15px;
    display: flex;
    gap: 30px;
    justify-content: center;
    .postContainer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        overflow-y: scroll;
        height: calc(100vh - 90.8px);
        width: 30rem;
    }
}
@media only screen and (max-width: 600px) {
    .findPost{
        .postContainer{
            height: calc(100vh - 144.8px);
        }
    }
}