.wrapper{
    width: 100%;
    position: relative;
    .secondWrapper{
        width: 100%;
        height: 98px;
        .storyContainer{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;
            overflow-x: scroll;
            .createPost{
                width: 80px;
                height: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span{
                    font-size: 12px;
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }
    }  
}

