.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .profile{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
        }
        .profileInfo{
            display: flex;
            flex-direction: column; 
            span:nth-of-type(1){
                font-size: 18px;
                font-weight: 600;
            }
            span:nth-of-type(2){
                font-size: 16px;
            }
        }
    }
}
.userDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .userDetailsInfo{
        display: flex;
        align-items: center;
        gap: 20px;
        span:nth-of-type(1){
            font-size: 16px;
        }
    }
}
.postDetails{
    display: flex;
    align-items: center;
    .postDetailsInfo{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-of-type(1){
            font-size: 18px;
            font-weight: 500;
        }
        span:nth-of-type(2){
            font-size: 14px;
        }
    }
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .socialLink{
        display: flex;
        align-items: center;
        gap: 20px;
        span:nth-of-type(1){
            font-size: 16px;
        }
    }
}
.viewProfile{
    color:#07D2FC;
    font-size: 18px;
    align-self: center;
    cursor: pointer;
}