.navBarGap{
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    z-index: 999;
    .navBar{
        width: 100%;
        .navBarContainer{
            max-width: 1350px; 
            margin: 0 auto;
            padding: 8px 15px 8px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
                .navBarLogo{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    span{
                        position: relative;
                        white-space: nowrap;
                        font-size: 30px;
                        color: #07D2FC;
                        font-weight: 600;
                    }
                    .searchContainer{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 30px;
                        .navSearchBar{
                            display: flex;
                            align-items: center;
                            max-width: 300px;
                            width: 100%;
                            gap: 10px;
                            padding: 10px 20px;
                            color: gray;
                            border-radius: 10px;
                            box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
                            input{
                                width: 100%;
                                outline: none;
                                border: none;
                                background-color: transparent;
                            }
                        }
                        .hamburger{
                            display: none;
                        }
                    }
                }
            .navLinks{
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}
.searchResultBackground{
    max-width: 1350px; 
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .searchResultContainer{
        position: absolute;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 10px;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        .userConatainer{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            .userBox{
                display: flex;
                align-items: center;
                gap: 15px;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userInfo{
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    span{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                    }
                    span:nth-of-type(1){
                        font-size: 14px;
                        font-weight: 500;
                    }
                    span:nth-of-type(2){
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .navBarGap{
        .navBar{
            .navBarContainer{
                .navBarLogo{
                    flex-direction: column;
                    gap: 10px;
                    span{
                        align-self: self-start;
                    }
                    .searchContainer{
                        .navSearchBar{
                            max-width: 100%;
                        }
                        .hamburger{
                            position: absolute;
                            top: 10px;
                            right: 15px;
                        }
                    }
                }
            }
        }
    }
    .searchResultBackground{
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .navBarGap{
        .navBar{
            .navBarContainer{
                .navBarLogo{
                    .searchContainer{
                        .hamburger{
                            display: block;
                        }
                    }
                }
                .navLinks{
                    display: none;
                }
            }
        }
    }
}