.modalHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--darkSearch);
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  .inputBox {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
      outline: none;
      border: none;
      padding: 10px 15px;
      width: 100%;
      border-radius: 10px;
    }
    span {
      font-size: 12px;
      color: red;
    }
  }
  button {
    padding: 10px 20px;
    background: linear-gradient(to right, #36aee6ed 0%, rgb(131, 66, 212) 100%);
    border-radius: 30px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
