.suggestionContainer{
    height: 215px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    span{
        white-space: nowrap;
        font-size: 16px;
    }
    .suggestionSlider{
        width: 100%;
        top: 35px;
        position: absolute;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        display: flex;
        gap: 20px;
        align-items: center;
        .userCard{
            width: 130px;
            padding: 15px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            };
            .userInfo{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 100%;
                }
                :link{
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 100%;
                    text-decoration: none;
                    font-size: 14px;
                }
                span{
                    font-size: 12px;
                }
            }
        }
    }
}