
.feedUserContainer{
    display: flex;
    justify-content: space-between;
    .postUserInfo{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .userProfileInfo{
            display: flex;
            flex-direction: column;
            .timeBox{
                display: flex;
                align-items: center;
                gap: 10px;
                :link{
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: none;
                }
                span{
                    font-size: 12px;
                }
            }
            .location{
                display: flex;
                align-items: center;
                gap: 10px;
                span:nth-of-type(1){
                    font-size: 12px;
                    font-weight: 400;
                }
                span:nth-of-type(2){
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    .spanLocationIcon{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .postActionsButtons{
        display: flex;
        align-items: center;
        gap: 5px;
        .userAddRemoveButton{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #032C33;
            display: flex;
            align-items: center;
            justify-content: center;
            .userAddIcon{
                color: white;
                font-size: 18px;
            }
        }
    }
}
.postDesc{
    font-size: 14px;
    font-weight: 400;
}
.postImage{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.postLikeOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .postLikeBox{
        display: flex;
        align-items: center;
        gap: 5px;
        .option{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-size: 12px;
                color: var(--globalTextSecondary);
            }
        }
    }
}