.commentBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .inputContainer{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;
        .inputBox{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 2px 7px 2px 15px;
            border-radius: 10px;
            gap: 15px;
            box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
            img{
                height: 24px;
                width: 24px;
                border-radius: 50%;
                object-fit: cover;
            }
            input{
                outline: none;
                border: none;
                width: 100%;
                background-color: transparent;
            }
        }
    }
    .commentContainer{
        width: 100%;
        display: flex;
        gap: 15px;
        img{
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
            background-color: white;
        }
        .commentInfo{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .timeBox{
                display: flex;
                align-items: center;
                gap: 10px;
                span:nth-of-type(1){
                    font-size: 12px;
                    color: var(--globalTextSecondary);
                    font-weight: 600;
                }
                span:nth-of-type(2){
                    font-size: 12px;
                    color: var(--globalTextSecondary);
                }
            }
            span{
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    .postControles{
        width: 100%;
        display: flex;
        justify-content: space-between;
        span{
            display: flex;
            align-items: center;
            font-size: 12px;
            color: var(--globalTextSecondary);
            cursor: pointer;
        }
    }
}
