.modalHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
textarea{
    width: 100%;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    min-height: 80px;
    max-height: 80px;
    overflow-y: auto;
    resize: none;
}
.photoContainer{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .hoverChangeImage{
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        transition: .25s;
        span{
            font-size: 14px;
            color: white;
        }
    }
    &:hover .hoverChangeImage{
        opacity: 1;
    }
    .uploadImage{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='gray' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 10px;
        height:100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span{
            font-size: 16px;
        }
    }
}
.updateActions{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    button{
        outline: none;
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }
    button:nth-of-type(1){
        background-color: gray;
    }
    button:nth-of-type(2){
        background-color: red;
    }
}
    