.authBackground{
    background-color: #030714;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    .authContainer{
        height: 100%;
        display: flex;
        align-items: center;
        .conatinerBox{
            width: 100%;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content:space-evenly;
            padding: 20px;
            .register_login_Container{
                max-width: 350px;
                width: 100%;
                background-color: #0F0D22;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 50px;
                border-radius: 10px;
                padding: 30px;
                    span{
                        font-size: 50px;
                        font-weight: 900;
                        color:white;
                    }
                    .otpContainer{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        align-items: center;
                        span{
                            font-size: 14px;
                        }
                        .inputContainer{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            gap: 10px;
                            input{
                                width: 60px;
                                height: 60px;
                                font-size: 24px;
                                font-weight: 500;
                                text-align: center;
                                border: none;
                                outline: none;
                                padding: 15px;
                                border-radius: 10px;
                                background-color: #130e2d;
                                color: white;
                            }
                        }
                        .actionButtons{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            button{
                                padding: 10px 15px;
                                width: 100%;
                                border-radius: 10px;
                                outline: none;
                                border: none;
                                cursor: pointer;
                                font-size: 14px;
                                color: white;
                            }
                            button:nth-of-type(1){
                                background-color: grey;
                            }
                            button:nth-of-type(2){
                                background-color: red;
                            }
                        }
                    }
                .formContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    span{
                        font-size: 14px;
                        color: white;
                    }
                    form{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        .inputBox{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            input{
                                width: 100%;
                                border: none;
                                outline: none;
                                padding: 10px 15px;
                                border-radius: 10px;
                                background-color: #130e2d;
                                color: white;
            
                            }
                            span{
                                font-size: 12px;
                                color: red;
                            }
                        }
                    }
                    button{
                        padding: 10px 20px;
                        background-color: #07D2FC;
                        border-radius: 30px;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width: 600px) {
    .authBackground{
        .authContainer{
            flex-direction: column;
            justify-content:start;
            .conatinerBox{
                flex-direction: column;
            }
        }
    }
}
